name: tagged-db

services:
  server:
    env_file:
      - .env
    build:
      context: ..
      dockerfile: server/Dockerfile

    environment:
      DATA_DIR: /data
      PORT: ${PORT:-3000}
      HTTPS_ENABLED: false
      HTTPS_KEY_PATH:
      HTTPS_CERT_PATH:

    ports:
      - "${PORT:-3000}:${PORT:-3000}"

    volumes:
      - server-data:/data

volumes:
  server-data:
