name: tagged-db

services:
  server:
    env_file:
      - .env
    build:
      context: ..
      dockerfile: server/Dockerfile

    environment:
      DATA_DIR: /data
      PORT: ${PORT:-3000}
      HTTPS_ENABLED: true
      HTTPS_KEY_PATH: ${HTTPS_KEY_PATH}
      HTTPS_CERT_PATH: ${HTTPS_CERT_PATH}
      ADMIN_AUTH: ${ADMIN_AUTH}
      ADMIN_USER: ${ADMIN_USER}
      ADMIN_PASS: ${ADMIN_PASS}

    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    volumes:
      - server-data:/data
      - ${CERTS_PATH:-./certs}:/etc/certs:ro

volumes:
  server-data:
